/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 20, ../../../app/stylesheets/screen.sass */
.hide,
.hidden {
  display: none;
}

/* line 24, ../../../app/stylesheets/screen.sass */
.replace {
  display: block;
  text-indent: -9999em;
  overflow: hidden;
}

/* line 94, ../../../app/stylesheets/screen.sass */
#question form fieldset {
  padding: 15px;
  margin: 0 0 30px 0;
  border: 1px dotted #dddddd;
}
/* line 98, ../../../app/stylesheets/screen.sass */
#question form dl {
  margin-top: -18px;
}
/* line 100, ../../../app/stylesheets/screen.sass */
#question form dt,
#question form dd {
  text-align: left;
  display: block;
  float: none;
  width: auto;
  margin: 0 45px 0 0;
  padding: 0;
  border: 1px solid;
  position: static;
  left: 0;
}
/* line 112, ../../../app/stylesheets/screen.sass */
#question form dt {
  position: relative;
  left: -18px;
  top: 27px;
  z-index: 5;
  padding-bottom: 18px;
  border: none;
  /*INLINE BLOCK FOR IE MAC */
  display: inline-block;
  /* Hide from IE Mac (REVERT TO DISPLAY BLOCK FOR ALL OTHERS) \ */
  display: block;
  /* End hide from IE Mac */
}
/* line 30, ../../../app/stylesheets/screen.sass */
#question form dt:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 120, ../../../app/stylesheets/screen.sass */
#question form dt label {
  font-family: "Monaco", "Courier", "Courier New", monospace;
  font-weight: bold;
  margin: 0;
  padding: 0.25 30px;
  float: left;
  display: inline;
  color: black;
  background-color: #efefef;
}
/* line 129, ../../../app/stylesheets/screen.sass */
#question form dd {
  min-height: 45px;
  position: relative;
  padding: 18px 45px 15px 45px;
  background-color: #f7f7f7;
  border-color: #c7c7c7;
}
/* line 135, ../../../app/stylesheets/screen.sass */
#question form dd input,
#question form dd select {
  position: relative;
  width: 100%;
  z-index: 6;
}
/* line 141, ../../../app/stylesheets/screen.sass */
#question form .buttons {
  padding-top: 30px;
}
/* line 144, ../../../app/stylesheets/screen.sass */
#question form .single {
  clear: both;
  width: 100%;
}
/* line 148, ../../../app/stylesheets/screen.sass */
#question form .double {
  width: 50%;
  float: left;
}
/* line 151, ../../../app/stylesheets/screen.sass */
#question form .double.large {
  width: 66.667%;
}
/* line 153, ../../../app/stylesheets/screen.sass */
#question form .double.small {
  width: 33.333%;
}
/* line 156, ../../../app/stylesheets/screen.sass */
#question form .tripple {
  width: 33.333%;
  float: left;
}
/* line 160, ../../../app/stylesheets/screen.sass */
#question form .quadrupple {
  width: 25%;
  float: left;
}
/* line 164, ../../../app/stylesheets/screen.sass */
#question form .quintipple {
  width: 20%;
  float: left;
}
/* line 168, ../../../app/stylesheets/screen.sass */
#question form .ui_groups {
  /*INLINE BLOCK FOR IE MAC */
  display: inline-block;
  /* Hide from IE Mac (REVERT TO DISPLAY BLOCK FOR ALL OTHERS) \ */
  display: block;
  /* End hide from IE Mac */
}
/* line 30, ../../../app/stylesheets/screen.sass */
#question form .ui_groups:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 171, ../../../app/stylesheets/screen.sass */
#question form .ui_group {
  /*INLINE BLOCK FOR IE MAC */
  display: inline-block;
  /* Hide from IE Mac (REVERT TO DISPLAY BLOCK FOR ALL OTHERS) \ */
  display: block;
  /* End hide from IE Mac */
}
/* line 30, ../../../app/stylesheets/screen.sass */
#question form .ui_group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 176, ../../../app/stylesheets/screen.sass */
#question form .ui_group.single dl dt {
  border-left-color: #e2e2e2;
  border-right-color: #cccccc;
}
/* line 179, ../../../app/stylesheets/screen.sass */
#question form .ui_group.single dl dd {
  border-left-color: #dcdcdc;
  border-right-color: #c7c7c7;
}
/* line 185, ../../../app/stylesheets/screen.sass */
#question form .ui_group.single dl.single dt,
#question form .ui_group.single dl.col1 dt {
  border-left-color: #cccccc;
}
/* line 187, ../../../app/stylesheets/screen.sass */
#question form .ui_group.single dl.single dd,
#question form .ui_group.single dl.col1 dd {
  border-left-color: #c7c7c7;
}
/* line 190, ../../../app/stylesheets/screen.sass */
#question form .ui_group.single dl.col1 {
  clear: left;
}
/* line 74, ../../../app/stylesheets/screen.sass */
#question form .ui_group.double dl.single,
#question form .ui_group.double dl.col1 {
  clear: left;
}
/* line 45, ../../../app/stylesheets/screen.sass */
#question form .ui_group.double dl dt {
  border-left-color: #e2e2e2;
  border-right-color: #cccccc;
}
/* line 48, ../../../app/stylesheets/screen.sass */
#question form .ui_group.double dl dd {
  border-left-color: #dcdcdc;
  border-right-color: #c7c7c7;
}
/* line 52, ../../../app/stylesheets/screen.sass */
.rgba #question form .ui_group.double dl dt, .rgba #question form .ui_group.double dl dd {
  border-left-color: rgba(187, 187, 187, 0.4);
  border-right-color: rgba(102, 102, 102, 0.4);
}
/* line 59, ../../../app/stylesheets/screen.sass */
#question form .ui_group.double.col1 dl.single dt,
#question form .ui_group.double.col1 dl.col1 dt {
  border-left-color: #cccccc;
}
/* line 61, ../../../app/stylesheets/screen.sass */
#question form .ui_group.double.col1 dl.single dd,
#question form .ui_group.double.col1 dl.col1 dd {
  border-left-color: #c7c7c7;
}
/* line 64, ../../../app/stylesheets/screen.sass */
.rgba #question form .ui_group.double.col1 dl.single dt, .rgba #question form .ui_group.double.col1 dl.single dd, .rgba
#question form .ui_group.double.col1 dl.col1 dt, .rgba
#question form .ui_group.double.col1 dl.col1 dd {
  border-left-color: rgba(102, 102, 102, 0.4);
}
/* line 74, ../../../app/stylesheets/screen.sass */
#question form .ui_group.tripple dl.single,
#question form .ui_group.tripple dl.col1 {
  clear: left;
}
/* line 45, ../../../app/stylesheets/screen.sass */
#question form .ui_group.tripple dl dt {
  border-left-color: #e2e2e2;
  border-right-color: #cccccc;
}
/* line 48, ../../../app/stylesheets/screen.sass */
#question form .ui_group.tripple dl dd {
  border-left-color: #dcdcdc;
  border-right-color: #c7c7c7;
}
/* line 52, ../../../app/stylesheets/screen.sass */
.rgba #question form .ui_group.tripple dl dt, .rgba #question form .ui_group.tripple dl dd {
  border-left-color: rgba(187, 187, 187, 0.4);
  border-right-color: rgba(102, 102, 102, 0.4);
}
/* line 59, ../../../app/stylesheets/screen.sass */
#question form .ui_group.tripple.col1 dl.single dt,
#question form .ui_group.tripple.col1 dl.col1 dt {
  border-left-color: #cccccc;
}
/* line 61, ../../../app/stylesheets/screen.sass */
#question form .ui_group.tripple.col1 dl.single dd,
#question form .ui_group.tripple.col1 dl.col1 dd {
  border-left-color: #c7c7c7;
}
/* line 64, ../../../app/stylesheets/screen.sass */
.rgba #question form .ui_group.tripple.col1 dl.single dt, .rgba #question form .ui_group.tripple.col1 dl.single dd, .rgba
#question form .ui_group.tripple.col1 dl.col1 dt, .rgba
#question form .ui_group.tripple.col1 dl.col1 dd {
  border-left-color: rgba(102, 102, 102, 0.4);
}
/* line 74, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quadrupple dl.single,
#question form .ui_group.quadrupple dl.col1 {
  clear: left;
}
/* line 45, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quadrupple dl dt {
  border-left-color: #e2e2e2;
  border-right-color: #cccccc;
}
/* line 48, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quadrupple dl dd {
  border-left-color: #dcdcdc;
  border-right-color: #c7c7c7;
}
/* line 52, ../../../app/stylesheets/screen.sass */
.rgba #question form .ui_group.quadrupple dl dt, .rgba #question form .ui_group.quadrupple dl dd {
  border-left-color: rgba(187, 187, 187, 0.4);
  border-right-color: rgba(102, 102, 102, 0.4);
}
/* line 59, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quadrupple.col1 dl.single dt,
#question form .ui_group.quadrupple.col1 dl.col1 dt {
  border-left-color: #cccccc;
}
/* line 61, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quadrupple.col1 dl.single dd,
#question form .ui_group.quadrupple.col1 dl.col1 dd {
  border-left-color: #c7c7c7;
}
/* line 64, ../../../app/stylesheets/screen.sass */
.rgba #question form .ui_group.quadrupple.col1 dl.single dt, .rgba #question form .ui_group.quadrupple.col1 dl.single dd, .rgba
#question form .ui_group.quadrupple.col1 dl.col1 dt, .rgba
#question form .ui_group.quadrupple.col1 dl.col1 dd {
  border-left-color: rgba(102, 102, 102, 0.4);
}
/* line 74, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quintipple dl.single,
#question form .ui_group.quintipple dl.col1 {
  clear: left;
}
/* line 45, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quintipple dl dt {
  border-left-color: #e2e2e2;
  border-right-color: #cccccc;
}
/* line 48, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quintipple dl dd {
  border-left-color: #dcdcdc;
  border-right-color: #c7c7c7;
}
/* line 52, ../../../app/stylesheets/screen.sass */
.rgba #question form .ui_group.quintipple dl dt, .rgba #question form .ui_group.quintipple dl dd {
  border-left-color: rgba(187, 187, 187, 0.4);
  border-right-color: rgba(102, 102, 102, 0.4);
}
/* line 59, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quintipple.col1 dl.single dt,
#question form .ui_group.quintipple.col1 dl.col1 dt {
  border-left-color: #cccccc;
}
/* line 61, ../../../app/stylesheets/screen.sass */
#question form .ui_group.quintipple.col1 dl.single dd,
#question form .ui_group.quintipple.col1 dl.col1 dd {
  border-left-color: #c7c7c7;
}
/* line 64, ../../../app/stylesheets/screen.sass */
.rgba #question form .ui_group.quintipple.col1 dl.single dt, .rgba #question form .ui_group.quintipple.col1 dl.single dd, .rgba
#question form .ui_group.quintipple.col1 dl.col1 dt, .rgba
#question form .ui_group.quintipple.col1 dl.col1 dd {
  border-left-color: rgba(102, 102, 102, 0.4);
}
/* line 210, ../../../app/stylesheets/screen.sass */
#question form .ui_group.bottomless fieldset {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom-style: none;
}
/* line 216, ../../../app/stylesheets/screen.sass */
#question form .ui_group.topless fieldset {
  padding-top: 0;
  margin-top: 0;
  border-top-style: none;
}

/* line 223, ../../../app/stylesheets/screen.sass */
.ma-container {
  color: #666666;
  position: absolute;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #999999;
  background-color: white;
}
/* line 232, ../../../app/stylesheets/screen.sass */
.ma-container ul {
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0;
}
/* line 237, ../../../app/stylesheets/screen.sass */
.ma-container li {
  line-height: 30px;
  padding: 2px 5px;
  cursor: pointer;
  float: left;
  width: 100%;
  overflow: hidden;
}
/* line 245, ../../../app/stylesheets/screen.sass */
.ma-container .ma-hover {
  background-color: #6891e0 !important;
  color: white;
}
/* line 248, ../../../app/stylesheets/screen.sass */
.ma-container .ma-odd {
  background-color: white;
}
/* line 251, ../../../app/stylesheets/screen.sass */
.ma-container .ma-even {
  background-color: #e8eefa;
}

/* line 254, ../../../app/stylesheets/screen.sass */
dl.loading dd,
dd.ma-loading {
  background: none transparent scroll no-repeat 0px 11px !important;
  background-image: url(/images/ajax-loader.gif) !important;
}

/* line 259, ../../../app/stylesheets/screen.sass */
dl dd.ma-selected {
  background: none transparent scroll no-repeat 0px 11px;
  background-image: url(/images/field-check.png) !important;
}

/* line 264, ../../../app/stylesheets/screen.sass */
.tooltip {
  text-align: left;
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: help;
  text-indent: -9999em;
  vertical-align: baseline;
  overflow: hidden;
  background: none transparent scroll no-repeat 0 center;
  background-image: url(/images/extra-info.png);
}
/* line 276, ../../../app/stylesheets/screen.sass */
.tooltip .description {
  display: none;
}

/* line 279, ../../../app/stylesheets/screen.sass */
.tip-wrap {
  z-index: 50;
  width: 300px;
  padding: 30px;
  color: white;
  background-color: #3f3f3f;
  text-shadow: -1px -1px 0 black;
}
/* line 286, ../../../app/stylesheets/screen.sass */
.rgba .tip-wrap {
  background-color: rgba(63, 63, 63, 0.9);
}
/* line 288, ../../../app/stylesheets/screen.sass */
.tip-wrap dl {
  margin: 0;
}
/* line 290, ../../../app/stylesheets/screen.sass */
.tip-wrap dl dt {
  font-size: 12px;
  text-align: right;
  float: left;
  display: inline;
  width: 180px;
  clear: left;
  color: #b2b2b2;
  overflow: hidden;
  font-weight: bold;
}
/* line 300, ../../../app/stylesheets/screen.sass */
.tip-wrap dl dt:after {
  content: ":";
  display: inline;
}
/* line 303, ../../../app/stylesheets/screen.sass */
.tip-wrap dl dd {
  margin-bottom: 15px;
  margin-left: 210px;
  /*INLINE BLOCK FOR IE MAC */
  display: inline-block;
  /* Hide from IE Mac (REVERT TO DISPLAY BLOCK FOR ALL OTHERS) \ */
  display: block;
  /* End hide from IE Mac */
}
/* line 30, ../../../app/stylesheets/screen.sass */
.tip-wrap dl dd:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
